@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: gray;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: gray;
}

.sidebar {
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
  background-color: white;
  height: 100vh;
  overflow-y: auto;
  width: 75%;
  border-right: 0.5px solid lightgray;
}
.sidebar.show {
  transform: translateX(0);
  transition: 0.3s ease-in-out;
  box-shadow: 5px 0 10px rgba(211, 211, 211, 0.439);
}
.sidebar .navbar-brand {
  width: 100%;
}
.sidebar .navbar-brand img {
  width: 75%;
}
.sidebar .navbar-nav .nav-item .nav-link {
  font-weight: 300;
  font-size: 0.9rem;
  color: gray;
  border-radius: 0 2rem 2rem 0;
  transition: 0.3s ease-in-out;
  padding: 0.3rem 1rem;
  margin-bottom: 0.5rem;
}
.sidebar .navbar-nav .nav-item .nav-link.active {
  background-color: red;
  color: white;
}
.sidebar .navbar-nav .nav-item .nav-link.active:hover {
  color: white;
}
.sidebar .navbar-nav .nav-item .nav-link i {
  margin-right: 1rem;
  font-size: 1.1rem;
}
.sidebar .navbar-nav .nav-item .nav-link:hover {
  color: black;
}

@media screen and (min-width: 576px) {
  .sidebar {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .sidebar {
    width: 35%;
  }
}
@media screen and (min-width: 992px) {
  .sidebar {
    width: 250px;
    transform: translateX(0);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: gray;
}

.card {
  border: 0.5px solid lightgray;
  color: black;
  font-weight: 300;
  border-radius: 0.25rem;
}
.card .card-header .title-card {
  font-size: 1.25rem;
  font-weight: 300;
}

.ri-arrow-up-s-fill {
  color: green;
}

.modal-backdrop {
  display: none;
}

.offcanvas .offcanvas-body {
  padding: 1rem 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.offcanvas .offcanvas-body a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}
.offcanvas .offcanvas-body a:hover {
  background-color: whitesmoke;
}
.offcanvas .offcanvas-body a i {
  font-size: 1rem;
  background-color: rgb(218, 218, 218);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offcanvas .offcanvas-body.report-body {
  position: absolute;
  top: 0;
}

.offcanvas {
  overflow-y: auto;
}

.main-content {
  overflow-x: hidden;
}
.main-content .navbar {
  border-bottom: 0.5px solid lightgray;
}
.main-content .navbar .navbar-brand img {
  width: 50%;
}
.main-content .navbar .navbar-nav .nav-item .nav-link {
  color: black;
  font-size: 1.25rem;
}
.main-content .profil-photo img {
  width: 100px;
}
.main-content .welcome-text {
  font-size: 2rem;
  color: black;
  font-weight: 300;
}
.main-content .warning-text {
  color: gray;
  font-weight: 300;
  font-size: 0.9rem;
}
.main-content .content .card {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
.main-content .content .card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-content .content .card .card-header .head-link {
  text-decoration: none;
  font-size: 1rem;
}
.main-content .content .card .card-body {
  position: relative;
}
.main-content .content .card .card-body h3 {
  font-size: 1.5rem;
  font-weight: 300;
}
.main-content .content .card .card-body p {
  font-size: 0.9rem;
  font-weight: 300;
  color: gray;
}
.main-content .content .card .card-body .search-info {
  background-color: rgb(251, 251, 251);
  border-radius: 0.25rem;
  text-decoration: none;
  color: gray;
  transition: 0.3s ease-in-out;
  margin: 0.5rem 0;
}
.main-content .content .card .card-body .search-info:hover {
  background-color: rgb(231, 231, 231);
  transition: 0.3s ease-in-out;
}
.main-content .content .card .card-body .link-container {
  background-color: rgb(251, 251, 251);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
.main-content .content .card .card-body .link-container .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-content .content .card .card-body .link-container .nav-link i {
  font-size: 1.25rem;
}
.main-content .content .card .card-body .dashboard-section {
  height: 100%;
}
.main-content .content .card .card-body .dashboard-section canvas {
  position: absolute;
  top: 10;
  left: 10;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 576px) {
  .main-content .navbar .navbar-brand img {
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .main-content .navbar .navbar-brand img {
    width: 20%;
  }
}
@media screen and (min-width: 992px) {
  .main-content {
    margin-left: 280px;
    padding-right: 50px;
    width: calc(100% - 280px);
  }
  .main-content .navbar {
    border-bottom: 0;
  }
  .main-content .navbar .navbar-brand {
    display: none;
  }
  .main-content .navbar form {
    background-color: rgb(246, 246, 246);
    border-radius: 0.25rem;
    width: 100%;
  }
  .main-content .navbar form .btn {
    background-color: transparent;
    border: 0;
    color: gray;
  }
  .main-content .navbar form .btn:hover {
    color: gray;
  }
  .main-content .navbar form .form-control {
    background-color: transparent;
    color: gray;
    border: 0;
    padding-left: 0;
    font-weight: 300;
    font-size: 0.9rem;
  }
  .main-content .navbar form .form-control:focus {
    box-shadow: none;
    outline: none;
    border: 0;
  }
  .main-content .navbar form .form-control::-moz-placeholder {
    color: lightslategray;
    font-size: 0.9rem;
  }
  .main-content .navbar form .form-control::placeholder {
    color: lightslategray;
    font-size: 0.9rem;
  }
  .main-content .navbar .navbar-nav .nav-item .nav-link {
    display: none;
  }
  .main-content .content .card .card-body h3 {
    font-size: 2.5rem;
  }
  .main-content .content .card .card-body p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=dashboard.css.map */