@import "variable";
@import "sidebar";
@import "component";

.offcanvas {
  overflow-y: auto;
}

.main-content {
  overflow-x: hidden;
  .navbar {
    border-bottom: 0.5px solid lightgray;
    .navbar-brand {
      img {
        width: 50%;
      }
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          color: black;
          font-size: 1.25rem;
        }
      }
    }
  }

  .profil-photo {
    img {
      width: 100px;
    }
  }

  .welcome-text {
    font-size: 2rem;
    color: black;
    font-weight: 300;
  }

  .warning-text {
    color: gray;
    font-weight: 300;
    font-size: 0.9rem;
  }

  .content {
    .card {
      height: 400px;
      overflow-y: auto;
      overflow-x: hidden;

      .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .head-link {
          text-decoration: none;
          font-size: 1rem;
        }
      }

      .card-body {
        position: relative;
        h3 {
          font-size: 1.5rem;
          font-weight: 300;
        }
        p {
          font-size: 0.9rem;
          font-weight: 300;
          color: gray;
        }

        .search-info {
          background-color: rgb(251, 251, 251);
          border-radius: 0.25rem;
          text-decoration: none;
          color: gray;
          transition: 0.3s ease-in-out;
          margin: 0.5rem 0;
          &:hover {
            background-color: rgb(231, 231, 231);
            transition: 0.3s ease-in-out;
          }
        }

        .link-container {
          background-color: rgb(251, 251, 251);
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          .nav-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            i {
              font-size: 1.25rem;
            }
          }
        }

        .dashboard-section {
          height: 100%;
          canvas {
            position: absolute;
            top: 10;
            left: 10;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

// responsive

@media screen and (min-width: 576px) {
  .main-content {
    .navbar {
      .navbar-brand {
        img {
          width: 30%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main-content {
    .navbar {
      .navbar-brand {
        img {
          width: 20%;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .main-content {
    margin-left: 280px;
    padding-right: 50px;
    width: calc(100% - 280px);
    .navbar {
      border-bottom: 0;
      .navbar-brand {
        display: none;
      }

      form {
        background-color: rgb(246, 246, 246);
        border-radius: 0.25rem;
        width: 100%;
        .btn {
          background-color: transparent;
          border: 0;
          color: gray;

          &:hover {
            color: gray;
          }
        }

        .form-control {
          background-color: transparent;
          color: gray;
          border: 0;
          padding-left: 0;
          font-weight: 300;
          font-size: 0.9rem;

          &:focus {
            box-shadow: none;
            outline: none;
            border: 0;
          }

          &::placeholder {
            color: lightslategray;
            font-size: 0.9rem;
          }
        }
      }

      .navbar-nav {
        .nav-item {
          .nav-link {
            display: none;
          }
        }
      }
    }

    .content {
      .card {
        .card-body {
          h3 {
            font-size: 2.5rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
