@import "variable";

// style

.sidebar {
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
  background-color: white;
  height: 100vh;
  overflow-y: auto;
  width: 75%;
  border-right: 0.5px solid lightgray;

  &.show {
    transform: translateX(0);
    transition: 0.3s ease-in-out;
    box-shadow: 5px 0 10px rgba(211, 211, 211, 0.439);
  }

  //
  .navbar-brand {
    width: 100%;
    img {
      width: 75%;
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        font-weight: 300;
        font-size: 0.9rem;
        color: gray;
        border-radius: 0 2rem 2rem 0;
        transition: 0.3s ease-in-out;
        padding: 0.3rem 1rem;
        margin-bottom: 0.5rem;

        &.active {
          background-color: red;
          color: white;

          &:hover {
            color: white;
          }
        }

        i {
          margin-right: 1rem;
          font-size: 1.1rem;
        }

        &:hover {
          color: black;
        }
      }
    }
  }
}

// responsive

@media screen and (min-width: 576px) {
  .sidebar {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 35%;
  }
}

@media screen and (min-width: 992px) {
  .sidebar {
    width: 250px;
    transform: translateX(0);
  }
}
